##  1. Download and Explore Dataset

## Introduction/Business Problem
###Mexico city zone is considered one of the most multicultural places in LatinoAmerica. You may find people from diverse nationalities that make business, study or go for vacations. Restaurants in Mexico City are full of competitors that offer different types of food and are usually concentrated in specific neighborhoods, specially those where business from multinational companies are settled.
Miguel Hidalgo borough is one of the most important zones in Mexico City, because there are important venues as museums, turistic atractions, corporate offices,  theaters and different places to eat. Many restaurant franchises use to look for rental spaces in Miguel Hidalgo Borough to take part of the marketplace. 
### Sea food* is one of the most attractive types of food that customer look for in Miguel Hidalgo Borough. This data science project look to provide information to franchises or entrepreneurs looking to understand how the different types of restaurants are distributed in Miguel Hidalgo borough neighborhoods. The research will allow to get different clusters that allow us to identify the most common venues in the borough and we expect to identify if there are neighborhoods where sea food and different types of restaurants are located.

# Description of data to be used for the project

We will use the data from Mexican Postal service to get the Postal codes, boroughs and neighborhoods in Mexito city.
The data are in a CSV file that will be loaded to Jupyter lab 
We will make the data wrangling task 
We will get the lattitud and longitud by using geocoder
Once we have the lattitud and longitud we will create a dataframe and a CSV file that will be used in the data science project to identify Miguel Hidalgo Borough location by using a map. 
We will create different dataframes to use a K nearest Neighborhood Algorithm to create clusters that will allow us to identify how the venues are located
It will allow us to understand if there's a cluster of  restaurants or more specifically if there are cluster where Seafood restaurants are located or to find clusters where there are not Seafood restaurants.

## In the next lines we present the code used to get the data, warngling the data and get a file that we will call CMXcoords.cvs that will have the latitudes and longitudes from Mexico City's boroughs and neighborhoods. 

Note: The obtained file CMXcoords.cvs will be used in week 5 to make the Data Science research

In [2]:
!pip install bs4
#!pip install plotly

import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

import json # library to handle JSON files

!conda install -c conda-forge geopy --yes # uncomment this line if you haven't completed the Foursquare API lab
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

import requests # library to handle requests
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes # uncomment this line if you haven't completed the Foursquare API lab
import folium # map rendering library



print('Libraries imported.')

Requirement already satisfied: bs4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4->bs4) (2.2.1)
Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.

Libraries imported.

In [2]:
### Let's charge the file CodigosPostalesCDMX.csv that we got from Mexican postal service. It does not include latittud nor longitud data

In [30]:

dfCDMX=pd.read_csv("CodigosPostalesCDMX.csv")
dfCDMX.head()

,Codigo Postal,Estado,Municipio,Ciudad,Tipo de Asentamiento,Asentamiento,Clave de Oficina
0,1857,Ciudad de México,Álvaro Obregón,Ciudad de México,Colonia,Lomas de Chamontoya,1001
1,1859,Ciudad de México,Álvaro Obregón,Ciudad de México,Colonia,Tlacoyaque,1001
2,1860,Ciudad de México,Álvaro Obregón,Ciudad de México,Colonia,Lomas de La Era,1001
3,1863,Ciudad de México,Álvaro Obregón,Ciudad de México,Colonia,Lomas del Capulín,1001
4,1870,Ciudad de México,Álvaro Obregón,Ciudad de México,Colonia,Lomas de los Cedros,1001

In [31]:
 dfCDMX['Codigo Postal'].describe()

count     1515.000000
mean      8543.928053
std       4909.859519
min       1000.000000
25%       4260.000000
50%       8910.000000
75%      13099.500000
max      16900.000000
Name: Codigo Postal, dtype: float64

### Data Wrangling

In [32]:
 dfCDMX.shape

(1515, 7)

In [33]:
# look for NAN values
dfCDMX.isnull().values.any()

True

In [34]:
dfCDMX.describe(include="all")

,Codigo Postal,Estado,Municipio,Ciudad,Tipo de Asentamiento,Asentamiento,Clave de Oficina
count,1515.000000,1515,1515,1514,1515,1515,1515.000000
unique,NaN,1,16,1,6,1367,NaN
top,NaN,Ciudad de México,Álvaro Obregón,Ciudad de México,Colonia,San Miguel,NaN
freq,NaN,1515,222,1514,1255,8,NaN
mean,8543.928053,NaN,NaN,NaN,NaN,NaN,8475.066007
std,4909.859519,NaN,NaN,NaN,NaN,NaN,4989.126927
min,1000.000000,NaN,NaN,NaN,NaN,NaN,1001.000000
25%,4260.000000,NaN,NaN,NaN,NaN,NaN,4831.000000
50%,8910.000000,NaN,NaN,NaN,NaN,NaN,9081.000000
75%,13099.500000,NaN,NaN,NaN,NaN,NaN,13011.000000
max,16900.000000,NaN,NaN,NaN,NaN,NaN,53001.000000

In [35]:
#dfCDMX=dfCDMX.dropna()
dfCDMX.describe(include="all")

,Codigo Postal,Estado,Municipio,Ciudad,Tipo de Asentamiento,Asentamiento,Clave de Oficina
count,1515.000000,1515,1515,1514,1515,1515,1515.000000
unique,NaN,1,16,1,6,1367,NaN
top,NaN,Ciudad de México,Álvaro Obregón,Ciudad de México,Colonia,San Miguel,NaN
freq,NaN,1515,222,1514,1255,8,NaN
mean,8543.928053,NaN,NaN,NaN,NaN,NaN,8475.066007
std,4909.859519,NaN,NaN,NaN,NaN,NaN,4989.126927
min,1000.000000,NaN,NaN,NaN,NaN,NaN,1001.000000
25%,4260.000000,NaN,NaN,NaN,NaN,NaN,4831.000000
50%,8910.000000,NaN,NaN,NaN,NaN,NaN,9081.000000
75%,13099.500000,NaN,NaN,NaN,NaN,NaN,13011.000000
max,16900.000000,NaN,NaN,NaN,NaN,NaN,53001.000000

In [36]:
# Change Columns to english language

dfCDMX.rename(columns={'Codigo Postal': 'PostalCode',"Tipo de Asentamiento": "Type of Neighborhood",'Municipio': 'Borough', "Asentamiento":"Neighborhood"}, inplace=True)
dfCDMX.head()

,PostalCode,Estado,Borough,Ciudad,Type of Neighborhood,Neighborhood,Clave de Oficina
0,1857,Ciudad de México,Álvaro Obregón,Ciudad de México,Colonia,Lomas de Chamontoya,1001
1,1859,Ciudad de México,Álvaro Obregón,Ciudad de México,Colonia,Tlacoyaque,1001
2,1860,Ciudad de México,Álvaro Obregón,Ciudad de México,Colonia,Lomas de La Era,1001
3,1863,Ciudad de México,Álvaro Obregón,Ciudad de México,Colonia,Lomas del Capulín,1001
4,1870,Ciudad de México,Álvaro Obregón,Ciudad de México,Colonia,Lomas de los Cedros,1001

In [37]:
#Drop specific duplicate and specific columns and then create a new data frame 

dfCDMX.drop_duplicates
dfCDMX=dfCDMX.drop(["Estado", "Ciudad", "Clave de Oficina"], axis=1)

dfCDMX.head()

   PostalCode         Borough Type of Neighborhood         Neighborhood
0        1857  Álvaro Obregón              Colonia  Lomas de Chamontoya
1        1859  Álvaro Obregón              Colonia           Tlacoyaque
2        1860  Álvaro Obregón              Colonia      Lomas de La Era
3        1863  Álvaro Obregón              Colonia    Lomas del Capulín
4        1870  Álvaro Obregón              Colonia  Lomas de los Cedros

In [38]:
dfCDMX.describe(include="all")

          PostalCode         Borough Type of Neighborhood Neighborhood
count    1515.000000            1515                 1515         1515
unique           NaN              16                    6         1367
top              NaN  Álvaro Obregón              Colonia   San Miguel
freq             NaN             222                 1255            8
mean     8543.928053             NaN                  NaN          NaN
std      4909.859519             NaN                  NaN          NaN
min      1000.000000             NaN                  NaN          NaN
25%      4260.000000             NaN                  NaN          NaN
50%      8910.000000             NaN                  NaN          NaN
75%     13099.500000             NaN                  NaN          NaN
max     16900.000000             NaN                  NaN          NaN

In [39]:
address = 'CDMX,MX'

geolocator = Nominatim(user_agent="mx_cdmx")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of MExico City are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of MExico City are 19.4326296, -99.1331785.

## Let's install Geocoder and make the process to get the latitudes and longitudes

In [40]:
! pip install geocoder

Requirement already satisfied: geocoder in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.38.1)
Requirement already satisfied: click in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (8.0.1)
Requirement already satisfied: requests in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (2.25.1)
Requirement already satisfied: ratelim in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (0.1.6)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (1.15.0)
Requirement already satisfied: future in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from geocoder) (0.18.2)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from click->geocoder) (4.6.1)
Requirement already satisfied: idna<3,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (1.26.6)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (2021.5.30)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from requests->geocoder) (4.0.0)
Requirement already satisfied: decorator in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: zipp>=0.5 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from importlib-metadata; python_version < "3.8"->click->geocoder) (3.5.0)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from importlib-metadata; python_version < "3.8"->click->geocoder) (3.10.0.0)

In [41]:
import geocoder

# Defining a function to get coordinates

def get_latlng(neighborhood):
    # initialize your variable to None
    lat_lng_coords = None
    # loop until you get the coordinates
    while(lat_lng_coords is None):
        g = geocoder.arcgis('{}, CDMX,MX'.format(neighborhood))
        lat_lng_coords = g.latlng
    return lat_lng_coords

In [42]:
dfCDMX.describe()

         PostalCode
count   1515.000000
mean    8543.928053
std     4909.859519
min     1000.000000
25%     4260.000000
50%     8910.000000
75%    13099.500000
max    16900.000000

In [43]:
get_latlng("Lomas de Chamontoya")

[19.314890000000048, -99.27013999999997]

In [73]:
# Call the function to get the coordinates, store in a new list using list comprehension
#coords = [ get_latlng(neighborhood) for neighborhood in  dfCDMX["Neighborhood"].tolist()]
dfCDMX["Neighborhood"].head()

0    Lomas de Chamontoya
1             Tlacoyaque
2        Lomas de La Era
3      Lomas del Capulín
4    Lomas de los Cedros
Name: Neighborhood, dtype: object

In [81]:
count=0
for neighborhood in dfCDMX["Neighborhood"]:
    coords.append(get_latlng(dfCDMX["Neighborhood"][count]))
    count=count+1
    if count>= 1515 :
        break
    #print (dfCDMX["Neighborhood"][count],coords,  " Fila:",count)

In [82]:
coords[0:5]

[[19.32585000000006, -99.25723999999997],
 [19.314890000000048, -99.27013999999997],
 [19.322250000000054, -99.26504999999997],
 [19.31747000000007, -99.26493999999997],
 [19.305330000000026, -99.27067999999997]]

##  Create a temporary dataframe to populate the coordinates into Latitude and Longitude

In [83]:
# Create temporary dataframe to populate the coordinates into Latitude and Longitude
df_coords = pd.DataFrame(coords, columns=['Latitude', 'Longitude'])
# Merge the coordinates into the original dataframe
dfCDMX['Latitude'] = df_coords['Latitude']
dfCDMX['Longitude'] = df_coords['Longitude']
print( dfCDMX.shape)
dfCDMX.head(5)

(1515, 6)

,PostalCode,Borough,Type of Neighborhood,Neighborhood,Latitude,Longitude
0,1857,Álvaro Obregón,Colonia,Lomas de Chamontoya,19.32585,-99.25724
1,1859,Álvaro Obregón,Colonia,Tlacoyaque,19.31489,-99.27014
2,1860,Álvaro Obregón,Colonia,Lomas de La Era,19.32225,-99.26505
3,1863,Álvaro Obregón,Colonia,Lomas del Capulín,19.31747,-99.26494
4,1870,Álvaro Obregón,Colonia,Lomas de los Cedros,19.30533,-99.27068

In [84]:
print('The dataframe has {} boroughs and {} neighborhoods.'.format(
        len( dfCDMX['Borough'].unique()),
         dfCDMX.shape[0]
    )
)

The dataframe has 16 boroughs and 1515 neighborhoods.

###  Create a csv file with the coordinates for Mexico City (This file will be used for week 5 tasks)

In [85]:
# create a csv file with the coordinates for Mexico City

dfCDMX.to_csv('CMXcoords.csv', index=False)